body {
  background-image: url(obrazki/tlo.jpeg);
  background-size: 30%;
}

h1 {
  font-family: Arial;
  color: red;

}

#moj-obrazek {
  float: right;
}
h2 {
  front-family: Arial;
  color: orange;

}
